body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.profile-input
{
outline:1px;
border:none;
height:40px;
max-width:300px;
border-radius:4px;
background-color: rgb(234, 234, 234);
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 600;
font-size:20px;


}
.main {
    background: linear-gradient(68.15deg, rgba(55, 125, 255, 0.30) 1.3%, rgba(55, 125, 255, 0) 100.8%);
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.backdrop {
    position: absolute;
    width: 300px;
    height: 300px;
    left: -200px;
    top: 177px;
    border-radius: 50%;
    background: rgba(55, 125, 255, 0.16);
    z-index: 2;
}

.backdrop-oval {
    position: absolute;
    width: 300px;
    height: 300px;
    left: auto;
    top: auto;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    z-index: 2;
    background: rgba(55, 125, 255, 0.16);
}

.login_wrapper {

    position: relative;
    width: 1000px;
    height: 500px;
    margin: 6% auto auto auto;
    z-index: 5;
    background: #FCFBFB;
    border-radius: 12px;
    display: flex;
    orientation: horizontal;
}

.form-wrapper {

    width: 50%;
    padding: 80px 60px 60px 60px;

}

label {
    font-weight: 300;
    font-size: 16x;
    margin-bottom: 8px;

}

.asset-wrapper {

    width: 50%;
}

.login-vector {
    width: 500px;
    height: 500px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.log-inputs {
    height: 30px;
    border-style: solid;
    border-width: 0 0 1px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 8px;
}

.log-inputs:focus {

    outline: none;
}

.log-btn {
    height: 40px;
    width: 100px;
    border-radius: 12px;
    background-color: #377DFF;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border: none;
    outline: none;
}

.signup {
    background-color: #E6E6E6;
    color: #263238;
}

.button-wrapper {
    padding: 20px 0;
}
/* signup.php */
.signup_wrapper
{
    position: relative;
    width: 1000px;
    margin: 6% auto auto auto;
    z-index: 5;
    background: #ffffff;
    border-radius: 12px;
    display: flex;
    orientation: horizontal;
}

.signup-form input{
    
height:30px;
width:300px;
background-color:rgb(237, 237, 237);
margin-top:10px;
border-radius:10px;
padding:10px;
border:none;
outline: none;
}

.signup-form .link-wrapper h5, h4{
    margin:0px !important;
    padding:0px !important;
    font-family: 'Poppins', sans-serif;
    
}

.signup-form .button-wrapper{
display: flex;
flex-direction:row;
justify-content: flex-start;
color: rgb(57, 57, 57);
gap:20px;
}
.signup-form .button-wrapper h4{
    font-size:10px;
    margin:0px;
    padding:0px;
    line-height:10px;
    }
    .signup-form .button-wrapper h5{
        font-size:10px;    
        line-height:25px;


        }

/* Dashboard.php */
.sidenav-left {
    position: fixed;
    left: 0;
    top: 0;
    right: auto;
    bottom: 0;
    height: 100vh;
    width: 250px;
    overflow-x: hidden;
    background-color: #fff;
    padding: 0px 20px 80px 20px;

}
.mobile{
    display:none;
}
.navbar-wrapper .navlink-wrapper .nav-sec {
    display: flex;
    flex-direction: column;

}


.nav-sec h3 {
    margin: 10px 0 10px 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;

}

i {
    padding-right: 10px;
}

.navlinks {

    height: 30px;
    width: 200px;
    border-radius: 8px;
    padding: 10px 0 0px 14px !important;
    margin: 2px 0 2px 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding: auto;
    text-align: start;
    letter-spacing: 0.03em;
    color: #B2B2B2;

}

.active-nav {
    background-color: #377DFF !important;
    color: #fff !important;
    height: 30px;
    width: 200px;
    border-radius: 8px;
    margin: 2px 0 2px 0;
    padding: 10px 0 0px 14px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding: auto;
    text-align: start;
    letter-spacing: 0.03em;
}

.navlinks:hover {


    color: #888888;
    height: 30px;
    width: 200px;
    border-radius: 8px;
    padding: 10px 0 0px 14px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding: auto;
    text-align: start;
    letter-spacing: 0.03em;
}

.herotabs {
    margin-left: 290px;
    height: 100vh;
    display: flex;
    flex-direction: row;

}

.data-wrapper {
    height: 100vh;
    overflow: auto;
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
    width: 100vw;

}

.data-wrapper::-webkit-scrollbar {
    display: none;
}

.right-nav {
    background-color: #fff;
    width: 500px;
    position: static;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
}

.section1-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.section1-wrapper .user-profile {
    display: none;
  

}

.text-wrapper h3 {
    color: #313131;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    padding: 40px 10px 4px 10px;
}

.text-wrapper span {
    margin: 0;
    padding: 0px 10px 4px 10px;
    color: #7C7C7C;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 0px;
}

.search-wrapper {
    padding: 40px 20px 0 0;
}

.search-wrapper input {

    height: 40px;
    width: 200px;
    border-radius: 8px;
    outline: none;
    border: none;
}

.search-wrapper button {

    height: 40px;
    width: 60px;
    padding: auto;
    margin: 0 0 0 -20px;
    border-radius: 8px;
    color: white;
    background-color: #377DFF;
    outline: none;
    border: none;
}

.insights {
    display: flex;
    flex-direction: row;
    max-width: 30%;
    background-color: #fff;
    border: none;
    border-radius: 4%;
}

.insights-wrapper {
    display: flex;
    width:70%;
    margin:auto;
    flex-direction: row;    
    justify-content: space-between;
    align-items: center;
    padding: 40px;

}

.textwrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 20px 20px;
}

.textwrapper .s1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 30px;
    color: #7C7C7C;
}

.textwrapper .s2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #313131;
}

.textwrapper .s3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 8px;
    line-height: 24px;
    color: #7C7C7C;
}

.progress-circle {
    display: flex;
    align-items: center;
    padding: auto;

}

.back-circle {
    height: 50px;
    width: 50px;
    position: relative;
    display: flex;
    margin-right: 20px;
    align-items: center;
    z-index: 10;
    background-image: conic-gradient(#C4C4C4 0deg, #C4C4C4 90deg, #377DFF 90deg, #377DFF 180deg);
    border-radius: 50%;

}

.mask-circle {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    margin-left: 4px;
    position: static;
    align-items: center;
    z-index: 12;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 5px;
    padding: 3px;
}

.mask-circle span {

    margin: auto;

}

.chart {
    height: 300px;
    width: 80%;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    margin: auto;
    flex-direction: column;
    padding: 20px;
}

.chart-buttons-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.chart-buttons-wrapper .text-wrapper {

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    padding: 0 0 0 20px;
}

.slider {
    height: 20px;
    width: 20px;
    border-radius: 50%;

    margin: 0 10px 0 10px;
}

.graph-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.graph-wrapper .blue {
    background-color: #56CCF2;
}

.graph-wrapper .yellow {
    background-color: #ECB22E;
}

.graph-wrapper .red {
    background-color: #FF5630;
}

.graph-wrapper h4 {
    margin: 0;
    line-height: 20px;
    font-weight: 600;
    font-size: 10px;
}

.chart-buttons-wrapper select {
    background-color: #F9F9F9;
    height: 30px;
    width: 70px;
    margin: 0 0 10px 60px;
    padding: 0 0 0 10px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
}

.chart-wrapper {
    padding: 10px 0 0 0;
}

.canvas-chart {
    max-width: 500px;
    margin: auto;
}

.search-filter {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    
    border-radius: 8px;
    margin: 3% auto;
}
.search-filter  button{

padding:20px;
border-radius: 12px;
background-color: #fff;
font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #000;




}

.user-profile {
    background-image: url("assets/Mask\ Group.png");
    background-size: cover;
    height: 40px;
    width: 40px;
}

.top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
}

.top-bar i {
    color: #c4c4c4;
    font-size: 18px;
    padding: 0 14px 0 0px;
}

.user-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;

}

.user-data h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    margin: 0px;
    line-height: 40px;
    font-size: 18px;
    color: #000;
}

.user-data span {

    font-weight: 600;
    margin: 0px;
    line-height: 0px;
    font-size: 12px;
    color: #7c7c7c;
}

.user-image {
    background-image: url("assets/Mask\ Group.png");
    background-size: cover;
    height: 100px;
    width: 100px;
}

.quick-search h3 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    margin: 0px;
    line-height: 40px;
    font-size: 24px;
    color: #313131;

}

.quick-search {
    margin: 10px 0 0 0;
    padding: 10px 40px 0 40px;
}

.button-grid {
    display: flex;
    margin-top: 20px;
    width: 90%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


}

.button-grid button {

    padding: 2px 8px 2px 8px;
    border: none;
    outline: none;
    background-color: #f5f5f5;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    color: #000;
}

.button-grid button:hover {
    background-color: #E2E2E2;
}

.recent-projects {
    padding: 10px 40px 0 40px;

}

.job-post-wrapper {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    width: 90%;
    padding: 0 10px 0 20px;

}

.job-data-wrapper span {

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #000;

}

.job-data-wrapper p {

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    color: #7c7c7c;
    margin: 0;
}

.job-post-thumbnail {
    margin-right: 10px;
}


/* resources.html */
.fff-top-bar {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    align-items: flex-start;
    background-color: #fff;
}

.fff-top-bar .search-wrapper {
    padding: 20px;
}

.fff-top-bar .search-wrapper input {
    background-color: #f3f3f3;
}

.fff-top-bar .top-bar {
    padding: auto;
}

.user-table {
    display: flex;
    flex-direction: column;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    color: #313131;
}

.buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:5% 7% 0% 7%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    color: #313131;
}

.buttons-wrapper button {
    outline: 0;
    border: none;
    background-color: #F9F9F9;
    padding: 12px;
    margin-left: 20px;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.buttons-wrapper button:hover {
    background-color: #dcdcdce1;
}

#table-non {
    display: none;
}

.content-table {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    min-width: 70vw;
    
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead {
    background-color: #FFFFFF;
    text-align: left;
    font-weight: bold;
}

.content-table thead th {
    padding: 16px 15px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #666565;
    font-size: 18px;
    line-height: 30px;
}

.content-table .assigned {
    color: #377DFF;
    border: none;
    outline: none;
    width: 100px;
    border-radius: 12px;
    background-color: rgba(55, 125, 255, 0.21);
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

.content-table .idle {
    color: rgba(99, 187, 148, 1);
    border: none;
    width: 100px;
    outline: none;
    border-radius: 12px;
    background-color: rgba(99, 187, 148, 0.21);
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

.content-table td {
    padding: 20px 15px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
}


.content-table {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    min-width: 70vw;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead {
    background-color: #FFFFFF;
    text-align: left;
    font-weight: bold;
}

.content-table thead th {
    padding: 16px 15px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #666565;
    font-size: 18px;
    line-height: 30px;
}

.content-table .assigned {
    color: #377DFF;
    border: none;
    outline: none;
    width: 100px;
    border-radius: 12px;
    background-color: rgba(55, 125, 255, 0.21);
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

.content-table .idle {
    color: rgba(99, 187, 148, 1);
    border: none;
    width: 100px;
    outline: none;
    border-radius: 12px;
    background-color: rgba(99, 187, 148, 0.21);
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

.content-table td {
    padding: 20px 15px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
}



.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.visit_button{

    padding:10px 10px 10px 10px;
    background-color: #fff;
    outline:none;
    border:none;
    border-radius:12px;

}


/* non it table  */
.skill-tab {
    word-wrap: break-word;
    max-width: 400px;
}

/* Shortlisted Resources */

.table_toggle {
    display: flex;
    justify-content: flex-start;

}

.table_toggle button {

    background-color: #fff;
    width: 80px;
    margin: 0px;
}

.table_toggle button:focus {

    background-color: #c5c5c5;
}

.table_toggle .non-it {
    border-radius: 0px 10px 10px 0px;

}

.table_toggle .it {
    background-color: #c5c5c5;
    border-radius: 10px 0px 0px 10px;

}

.table-wrapper .it {
    display: none;
}

.table-wrapper .non-it {
    display: table;
}

/* projects.html */
.projects .buttons-wrapper {
    padding: 40px 40px 10px 40px;
}

.coulmn {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.coulmn-cell {
    padding: 40px 20px 40px 20px;
}

.card {
    background-color: #fff;
    display: flex;
    width: 200px;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    align-items: center;
}

.project-data-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

.project-data-wrapper h4 {
    margin: 20px 10px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 15px;

}

.project-data-wrapper p {
    width: 90%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;

}

.project-data-wrapper span {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    padding: 8px 8px;
    margin: 0px 0px 0px 40px;

}

.project-data-wrapper span b {

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;

    line-height: 15px;
    padding-right: 6px;
}

.project-data-wrapper button {

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    padding: 10px;
    color: white;
    outline: none;
    border: none;
    background-color: #377DFF;
    border-radius: 8px;
}

.project-data-wrapper button:hover {

    background-color: #1a67f5;

}

/* Empolyee */


.employee-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

.employee-data-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

.employee-data-wrapper h4 {
    margin: 0px;
    padding: 10px 20px 10px 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 15px;

}

.employee-data-wrapper span {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    padding: 8px 8px;
    margin: 0px 0px 0px 40px;

}

.employee-data-wrapper span b {

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;

    line-height: 15px;
    padding-right: 6px;
}

.employee-info {
    padding: 0px 20px 0px 0px;
}

/*  Teams .html */

.team-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

.team-data-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

.team-data-wrapper h4 {

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 15px;

}

.team-data-wrapper p {
    width: 90%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;

}

.team-data-wrapper span {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    padding: 8px 8px;
    margin: 0px 0px 0px 40px;

}

.team-data-wrapper span b {

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;

    line-height: 15px;
    padding-right: 6px;
}

.team-info .team-member-thumbnail {
    height: 40px;
    width: 40px;
    margin: 0 6px 0 6px;

}

.team-row {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}


.team-data-wrapper button {

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    color: white;
    outline: none;
    border: none;
    background-color: #377DFF;
    border-radius: 8px;
}

.team-data-wrapper button:hover {

    background-color: #1a67f5;

}


/* resource-register */
.form-wrapper {
    width: 80%;
    margin: auto;
}

.form-group .form-control {
    height: 50px;
    border-radius: 8px;
}

.submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}

.submit button {
    padding: 10px 20px 10px 20px;
    color: #fff;
    background-color: #377DFF;
    border-radius: 8px;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
}

.submit button:hover {
    padding: 10px 20px 10px 20px;
    color: #fff;
    background-color: #1a67f5;
    border-radius: 8px;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
}

.file-upload::-webkit-file-upload-button {
    color: #000;
    background-color: white;
    outline: none;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
}

.file-upload::-webkit-file-upload-button:hover {
    color: #000;
    background-color: rgb(196, 192, 192);
    outline: none;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
}

.file-upload {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
}

.skill-box {
    height: 100px !important;
}

.mobile-menu-btn {
    display: none;
}

.quick-search-1200 {
    display: none;
}

/* user profile */



.back-buttonwrapper
{

width:90%;
margin:40px auto;
}
.back-buttonwrapper button
{
padding:12px;
border-radius:8px;
border:none;
outline:none;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 15px;
background-color: #fff;

}
.back-buttonwrapper button:hover
{

background-color: rgb(214, 214, 214);

}
.profile-card-wrapper{
display:flex;
flex-direction: row;
justify-content: center;


}
.profile-card{
    width:60%;
    background-color: #FFFFFF;
    padding:30px 30px;
}
.profile-pic
{
    height: 150px;
    width: 150px;
}
.profile_head 
{

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    font-family: 'Poppins', sans-serif;

}
.profile_head img
{

   
    border-radius: 50%;

}
.profile_head h3,h4,h5 
{
margin:0px;
padding:0px;
}

.profile_body
{
    margin:40px auto;
    width:80%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;

}
.profile_column
{
    display: inherit;
    flex-direction: column;
    justify-content: flex-start;
   
}
.profile_data
{
    display:flex;
    flex-direction: row;
    justify-content:flex-start !important;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 15px;

}

.profile_data span
{
    display:flex;
    flex-direction: row;
    justify-content:flex-start !important;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    max-width:400px;


}
.profile_data p
{
    display:flex;
    flex-direction: row;
    justify-content:flex-start !important;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    max-width:300px;

    word-wrap: break-word;


}


.resource-data
{
display:flex;
flex-direction: row;
justify-content:flex-start !important;
align-items: center;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 15px;
color: #000;

}

.data{

font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 500;
margin-left:6px;
max-width:200px;
word-wrap:break-word;


}

.profile-buttonwrapper
{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size:16px;
}
.profile-select
{
    padding:30px 20px 30px 20px;
    outline:1px;
    border:none;
    background-color: #fff;

}
.profile_submitbutton
{
    margin-top:6% !important;

}
/* filter.php */


.resource-container
{
   display:flex;
   flex-direction: row;
   justify-content: center;
   align-self: center;
   align-items: flex-start !important;
   background-color: #fff;
   border-radius:8px;
    
    padding:50px;

    }

    .resource-element

{
    display:flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    margin-top:10px;


}
    .resource-label {
        
        padding:10px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        margin-left:12px;
        font-weight:600;
        font-size: 15px;
        letter-spacing:0.5px;
      


    }

    .resource-select {
        
        background-color: #F9F9F9;
        height:40px;
        width:100px;
        outline: 1px;
        border-radius: 8px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        margin-left:12px;
        font-weight:600;
        font-size: 15px;
        line-height: 10px;

    }
    .filter-btn-wraper
    {
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-self:center;
    }
    .filter-btn-wraper button{
        background-color: #407BFF;
        color:white;
        padding: 18px 22px 18px 22px;
        border:none;
        outline:none;
        border-radius:8px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        margin-top:20px;
        font-weight:600;
        font-size: 15px;
        line-height: 10px;

        
        
    }


    /* filter-results */

    .filter-card-wrapper
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.filter-column
{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
   
}
.filter-card{

    
    padding:5% 5% 20px 5%;
    border-radius:12px;
    background-color: #FFFFFF;

}
.filter-card .filter_head{

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.filter_head h3,h6,h5{

margin:0;
padding:0;
    
}
.filter-data{
    margin:0;
    padding:0;
    display:flex;
    height: 60px;
    flex-direction: row;
    justify-content: flex-end;
    gap:10px;
    align-items: center !important;


}
.filter-data span
{
    display:flex;
    flex-direction: row;
    justify-content:flex-start !important;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight:600;
    font-size: 18px;
    max-width:400px;


}
.filter-data p
{
    display:flex;
    flex-direction: row;
    justify-content:flex-end !important;
    align-items: center;
    max-width:300px;
    word-wrap: break-word;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight:500;
    font-size: 15px;
    margin:0px 0 0 8px;
   
}
.filter-data button{
    background-color: #407BFF;
    color:white;
    padding: 18px 22px 18px 22px;
    border:none;
    outline:none;
    border-radius:8px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    margin-top:20px;
    font-weight:600;
    font-size: 15px;
    line-height: 10px;
    
}
/* Import page  */

.import-container{
    
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:#fff;
    border-radius:12px;
    margin:auto;
    padding:20px;
}
.import-container span{

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    text-align: center;
    font-weight:600;
    font-size: 15px;
    max-width: 300px;
    word-wrap:break-word;
    line-height: 15px;

}
.import-container button{
padding:5px;
border-radius:4px;
background-color: #fff;
outline:1px solid black;
border:none;

}
.import-container input{
    color:transparent;
}
.import-container input::-webkit-file-upload-button{
    
    background-color: #fff !important;
    padding:5px;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    text-align: center;
    font-weight:600;
    font-size: 15px;
    max-width: 300px;
    border:1px solid black;
   
    
    }
.import-container button:hover{
    background-color: rgb(241, 239, 239);

}
    
@media screen and (max-width: 1200px) {

    .progress-circle {
        display: none;
    }

    .right-nav {
        display: none;
    }

    .search-filter {
        width: 80%;
        margin: 4% auto;
    }

    .quick-search-1200 {
        background-color: #fff;
        max-width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10%;
    }

    .quick-search-1200 .button-grid {
        display: inherit;
        flex-direction: row;
        justify-content: space-evenly;

    }

    


}



@media screen and (max-width: 840px) {

    .sidenav-left {
        position: fixed;
        left: 0;
        top: 0;
        right: auto;
        bottom: 0;
        height: 100vh;
        width: 60px;
        overflow-x: hidden;
        background-color: #fff;
        padding: 0px 10px 0px 10px;
    }

    .navlinks span {
        display: none;
    }

    .navbar-wrapper h2 {

        font-weight: 600;
        font-size: 18px;
        line-height: 42px;
    }

    .nav-sec h3 {
        justify-self: flex-start;
        font-weight: 600;
        font-size: 10px;
        line-height: 42px
        
    }

  

    .navlinks {

        justify-self: flex-start;
        width: fit-content;
        border-radius: 8px;
        margin: 2px 0 2px 0;
        padding: 10px 0 0px 10px !important;

        color: #B2B2B2;

    }

    .active-nav {
        
        color: #B2B2B2;
        justify-self: flex-start;
        border-radius: 8px;
        margin: 2px 0 2px 0;
        padding: 10px 0 0px 10px !important;

    }

   .herotabs{
    margin-left: 80px;
   }

   .herotabs .section1-wrapper{
    display:flex;
    justify-content: space-evenly;
    align-items: center ;
   }
   .herotabs .section1-wrapper .user-profile{
    display:flex;
    margin-top: 5%;
    
   }

.login_wrapper , .signup_wrapper {

    position: relative;
    width:600px;
    margin: 6% auto auto auto;
    z-index: 5;
    background: #FCFBFB;
    border-radius: 12px;
    display: flex;
    orientation: horizontal;
}

.form-wrapper {

    width: 50%;
    padding: auto;

}

label {
    font-weight: 300;
    font-size: 16x;
    margin-bottom: 8px;

}

.asset-wrapper {

display:none;

}

.login-vector {
    width: 400px;
    height: 400px;
}
.signup-form .button-wrapper{
flex-direction: column;
justify-content: center;
align-items: center;

}

.button-wrapper {
display: inherit;
justify-content: space-evenly;
}

}

@media screen and (max-width: 480px) {
    .sidenav-left {
        display: none;
    }
    .mobile{
    display:none !important;
    position: fixed;
    left: 0;
    top: 0;
    right: auto;
    bottom: 0;
    height: 100vh;
    opacity:90%;
    width:250px;
    overflow-x: hidden;
    background-color: rgb(75, 75, 75);
    color:white;
    padding: 0px 20px 80px 20px;
    }

     .close-btn{

        display:flex;
        justify-content: end;
        margin-top:20px;

    }
    .close-btn button{

       background:transparent;
       outline:none;
       border:none;
       color:#fff;
       font-size:20px;


    }


    .navlinks span {
        display: flex;

    }
    
    
    
    
    .nav-sec h3 {
        margin: 10px 0 10px 0;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
    
    }
    
    i {
        padding-right: 10px;
    }
    
    .navlinks {
    
        height: 30px;
        width: 200px;
        display: flex;
        flex-direction: row;
        border-radius: 8px;
        padding: 10px 0 0px 14px !important;
        margin: 2px 0 2px 0;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        padding: auto;
        text-align: start;
        letter-spacing: 0.03em;
        color: #B2B2B2;
    
    }
    
    .active-nav {
        background-color: #377DFF !important;
        color: #fff !important;
        height: 30px;
        width: 200px;
        border-radius: 8px;
        margin: 2px 0 2px 0;
        padding: 10px 0 0px 14px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        padding: auto;
        text-align: start;
        letter-spacing: 0.03em;
    }
    
    .navlinks:hover {
    
    
        color: #888888;
        height: 30px;
        width: 200px;
        border-radius: 8px;
        padding: 10px 0 0px 14px;
    
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        padding: auto;
        text-align: start;
        letter-spacing: 0.03em;
    }

    .right-nav {
        display: none;
    }

    .herotabs {
        margin: 0;

    }

    .data-wrapper {
        overflow: auto;
    }

    .section1-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    .mobile-menu-btn {
        display: flex !important;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 30px 10px 30px;
    }

    .insights {
        display: flex;
        flex-direction: row;
        height: 20%;
        min-width: 30% !important;
        background-color: #fff;
        border: none;
        border-radius: 4%;
    }

    .insights-wrapper {
        padding: 10px;
        margin: 40px 0 0 0;


    }

    .textwrapper {
        display: flex;
        flex-direction: column;
        padding: 10px 20px 20px 20px;
    }

    .textwrapper .s1 {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        color: #7C7C7C;
    }

    .textwrapper .s2 {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #313131;
    }

    .textwrapper .s3 {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 8px;
        line-height: 20px;
        color: #7C7C7C;


    }

    .progress-circle {
        display: none;
    }


    .buttons-wrapper select {
        display: none;
    }

    .slider {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        margin: 0 10px 0 10px;
    }

    .graph-wrapper h4 {
        margin: 0;
        line-height: 20px;
        font-weight: 600;
        font-size: 10px;
    }


    .chart {
        margin: 10px auto 10px auto;
    }

    .canvas-chart {
        max-width: 500px;
        height: 200px !important;
        margin: 10% auto 10% auto;
    }

    .search-filter {
        width: 80%;
        margin: 10% auto;
    }

    .herotabs .section1-wrapper .user-profile{
        display:none;
        
       }
    
       
   .login_wrapper {

    position: relative;
    width:300px;
    margin:20% auto auto auto;
    z-index: 5;
    background: #FCFBFB;
    border-radius: 12px;
    display: flex;
    orientation: horizontal;
}

.form-wrapper {

    width: 100%;
    padding: auto;

}

label {
    font-weight: 300;
    font-size: 16x;
    margin-bottom: 8px;

}

.asset-wrapper {

display:none;}

.login-vector {
    width: 400px;
    height: 400px;
}

.button-wrapper {
display: inherit;
justify-content: space-evenly;
}
.button-wrapper button {
    width:70px;
    }

.signup_wrapper{
    position: relative;
    width: 400px;
    margin: 16% auto auto auto;
    z-index: 5;
    background: #ffffff;
    border-radius: 12px;
    display: flex;
    orientation: horizontal;

}
.signup-form .button-wrapper{
         display: flex;
         width:90%;
        flex-direction: column;
        justify-content: center !important;
        align-items: center;
        
        }
        
.signup_wrapper .form-wrapper{


   justify-content: center  !important;
}


}
       

